/* Styles for the indez.html Home Page */

html{
    height:50%;
    width:50%;
    margin:50px;
    padding:5px 20px;
    background:#45a29e;
    font:helvetica;
    
}
/*Navigation Styles*/
nav ul li{
    display:inline;
    padding:30px;
    border:solid 1px transparent;
    transition:0.8s ease;
    font:Hevetica;
    
}
   nav ul li:hover{
       background-color:white;
       color:black;
   }
   
.active{
    font-weight:900;
    background:#cccccc;
    Padding: 5px;
}    

/* Table Styles*/

Table{
    width:100%;
    text-align:left;
    
}


/*Sidebar Styles*/
#sidebar{
    float:right;
    width:25%;
    margin:10px;
    padding:5px;
    font:italics;
    border:solid 1px black
   
    
}

/*About Styles*/
dt{
    font-weight:500;
    
}
.bio-photo{
    width:25%;
    background:black;
    float:left;
    margin:10px;
    padding:5px;
    
}
.bio-photo-img{
    width:100%;
    height:auto;

}



#content p{
    text-decoration:none;
    font: black;
    font:helvetica;
}


/*Homepage styles*/

h1{
    font-size:100px;
    font-family:glober;
    color:black;
}
h2{
    color:black;
}
p{
    font-family:helvetica;
    color:black
    
}
ul.poem{
    list-style-type:none;
    font:helvetica;
    
}